h1 {
  color:black;
  text-align: center;
}

div {
  text-align: center;
}

input.thingEntry {
  font-size: 16px;
  text-align: left;
  padding: 12px 28px;
  border-radius: 4px;
}

button {
  border: none;
  color: white;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  padding: 12px 28px;
}

button.listIt {
  background-color: orange;
}

button.promote {
  background-color: green;
}

button.delete {
  background-color: red;
}

p.para {
  background-color: silver;
  padding: 12px 28px;
  font-size: 16px;
}